<div class="login container" ng-controller="property">
    <input ng-model="address" class="input" type="text" name="" id="" placeholder="Address"><br />
    <input ng-model="landArea" class="input" type="number" placeholder="land Area">
    <input ng-model="landVal" class="input" type="number" placeholder="land Sale Value">
    <input ng-model="buildArea" class="input" type="number" placeholder="Building Area">
    <input ng-model="buildVal" class="input" type="number" placeholder="Building Area Sale Value">
    <button ng-click="submit()" class="button is-primary">Add Property</button>
</div>