<div class="container user-input" ng-controller="person-input">
    <div>
        <span>Full Name</span>
        <input ng-model="fullname" type="text" class="input" placeholder="Full Name">
    </div>
    <div ng-if="!editMode">
        <span>NPWP</span>
        <input ng-model="$parent.npwp" type="text" class="input" placeholder="NPWP">
    </div>
    <div>
        <span>NIK</span>
        <input ng-model="nik" type="text" class="input" placeholder="NIK">
    </div>
    <div>
        <span>Salary</span>
        <input ng-model="salary" type="number" class="input number" placeholder="Salary">
    </div>
    <div>
        <span>Allowance</span>
        <input ng-model="allowance" type="number" class="input number" placeholder="Allowance">
    </div>
    <div>
        <span>Marital status</span>
        <input ng-model="marital" type="checkbox" class="checkbox">
    </div>
    <div>
        <span>Number of Children</span>
        <input ng-model="child" type="number" class="input number" placeholder="Number of Child(ren)">
    </div>
    <button ng-click="submit()" class="button is-info">Add</button>
</div>