<div class="container user-list" ng-controller="pajakin-home">
    <h1 class="title is-1">
        Tax List
    </h1>
    <div class="content">
        <div class="user-table">
            <h2 class="subtitle">Person List</h2>
            <table class="table is-striped">
                <tr ng-repeat="d in data">
                    <td>{{d.npwp}}</td>
                    <td>{{d.fullName}}</td>
                    <td><a href="" class="is-warning" ng-click="select(d.npwp)">View</a></td>
                    <td><a href="" class="is-warning" ng-click="toEdit(d.npwp)">Edit</a></td>
                </tr>
            </table>
            <h3 ng-if="data || data.length <= 0" class="title is-6">the list is empty please add a new entry</h3>
            <button class="button is-info" ng-click="addNew()">Add Person</button>
        </div>
        <di class="data" ng-if="selected">
            <div>

                <span><h2 class="subtitle">Person Data</h2></span>
                <span><button ng-click="delete(selected.npwp)" class="button is-danger">Delete</button></span>
            </div>
            <div>
                <span class="props">Nama : </span>
                <span>{{selected.fullName}}</span>
            </div>
            <div>
                <span class="props">NPWP : </span>
                <span>{{selected.npwp}}</span>
            </div>
            <div>
                <span class="props">Pajak Penghasilan : </span>
                <span>{{pph}}</span>
            </div>
            <div>
                <span class="props">Pajak Bumi Bagunan : </span>
                <span>{{pbb}}</span>
            </div>
            <div>
                <span class="props">Pajak Kendaraan : </span>
                <span>{{pkb}}</span>
            </div>
            <div>
                <span class="props">List Kendaraan</span>
                <span class="props">List Properti</span>
            </div>
            <div>
                <button class="button is-info" ng-click="addV(selected.npwp)">Add Kendaraan</button>
                <button class="button is-info" ng-click="addP(selected.npwp)">Add Properti</button>
            </div>
            <div class="extra-data">
                <div>
                    <table class="table is-striped" ng-if="selectedVehicle.length > 0">
                        <tr ng-repeat="sv in selectedVehicle">
                            <td>{{sv.plateNumber}}</td>
                        </tr>
                    </table>
                </div>
                <table class="table is-striped" ng-if="selectedProperty.length > 0">
                    <tr ng-repeat="sp in selectedProperty">
                        <td>{{sp.address}}</td>
                    </tr>
                </table>
            </div>
            <button class="button is-warning" ng-click="toEdit(selected.npwp)">Edit</button>
        </di>
    </div>
</div>