body {
    background-image: url('../asset/accounting-analytics-balance-209224.jpg');
    height: 100vh;
    background-size: cover;
}

.login {
    background-color: white;
    width: 300px;
    top: 30vh;
    border: #ccc solid 1px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 30px #000;
}

input {
    margin-bottom: 10px;
}

.user-list {
    background-color: white;
    top: 20%;
    padding: 50px;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.data {
    width: 70%;
}

.content .data div{
    display: flex;
    justify-content: space-between;
}

.props {
    font-weight: 700;
}

.content button {
    margin-top: 30px;
}

.table {
    border: solid 1px black;
}